@import "../../containers/shared/variables.module.scss";

.login-wrapper {
  background: $antiFlashWhite;
}

.bg-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  background: $antiFlashWhite;
  align-items: center;
  justify-content: center;
}

.form-section-gap .form-heading {
  font-size: $font-16;
  font-weight: 600;
}

.form-section-gap {
  display: flex;
  font-size: $font-14;
  flex-direction: column;
  gap: 1.8vw;
}
