/* Colour shades */
$grape: #7634b1;
$darkGrape: #6226a2;
$lavender: #e9dff3;
$pixiePowder: #42118d;
$white: #ffffff;
$chineseWhite: #e1e1e1;
$antiFlashWhite: #f3f1f5;
$ghostWhite: #faf7fc;
$americanSilver: #cecece;
$darkLiver: #4f4f4f;
$arsenic: #424242;
$graniteGray: #616161;
$whiteSmoke: #f0f0f0;
$suvaGrey: #8b8b8b;
$taupleGrey: #888888;
$blackRussian: #252631;
$brightGray: #efe8f6;
$darkGray: #a8a8a8;
$apple: #4caf50;
$calPolyPomonaGreen: #1e4620;
$morningBlue: #8fa390;
$coralRed: #f44336;
$bostonUniversityRed: #cb0000;
$palePink: #fdd9d7;
$philippineBrown: #621b16;
$LavenderWeb: #e9dff3;
$aquaSpring: #edf7ed;
$amber: #ffbf00;
$oldLace: #fff5e5;
$yellowSun: #fdee21;
$buttonBlue: #29b5e8;
$bdazzledBlue: #336791;
$blueBerry: #4386fa;
$carminePink: #e05243;
$chineseOrange: #f37440;
$carnelian: #b71c1c;
$eminence: #602a8f;
$geyser: #e0e0e0;
$orangePeel: #ff9800;
$LightDeepPink: #f953c6;
$magenta: #b91d73;
$peach: #f5c9c9;
$blueViolet: #8e2de2;
$interdimensionalBlue: #4a00e0;

/* Font sizes with respect to 1920 viewport width */
$font-10: 0.521vw;
$font-12: 0.625vw;
$font-14: 0.729vw;
$font-16: 0.833vw;
$font-18: 0.938vw;
$font-20: 1.042vw;
$font-24: 1.25vw;
$font-34: 1.771vw;
$font-44: 2.292vw;

/* Font weight */
$font-wgt-400: 400;
$font-wgt-500: 500;
$font-wgt-600: 600;

:export {
  grape: $grape;
  darkGrape: $darkGrape;
  lavender: $lavender;
  pixiePowder: $pixiePowder;
  white: $white;
  chineseWhite: $chineseWhite;
  antiFlashWhite: $antiFlashWhite;
  ghostWhite: $ghostWhite;
  americanSilver: $americanSilver;
  darkLiver: $darkLiver;
  arsenic: $arsenic;
  graniteGray: $graniteGray;
  whiteSmoke: $whiteSmoke;
  suvaGrey: $suvaGrey;
  taupleGrey: $taupleGrey;
  blackRussian: $blackRussian;
  brightGray: $brightGray;
  darkGray: $darkGray;
  apple: $apple;
  calPolyPomonaGreen: $calPolyPomonaGreen;
  morningBlue: $morningBlue;
  coralRed: $coralRed;
  bostonUniversityRed: $bostonUniversityRed;
  palePink: $palePink;
  philippineBrown: $philippineBrown;
  LavenderWeb: $LavenderWeb;
  aquaSpring: $aquaSpring;
  amber: $amber;
  oldLace: $oldLace;
  yellowSun: $yellowSun;
  buttonBlue: $buttonBlue;
  bdazzledBlue: $bdazzledBlue;
  blueBerry: $blueBerry;
  carminePink: $carminePink;
  chineseOrange: $chineseOrange;
  carnelian: $carnelian;
  eminence: $eminence;
  geyser: $geyser;
  orangePeel: $orangePeel;
  LightDeepPink: $LightDeepPink;
  magenta: $magenta;
  peach: $peach;
  blueViolet: $blueViolet;
  interdimensionalBlue: $interdimensionalBlue;
  font_10: $font-10;
  font_12: $font-12;
  font_14: $font-14;
  font_16: $font-16;
  font_18: $font-18;
  font_20: $font-20;
  font_24: $font-24;
  font_34: $font-34;
  font_44: $font-44;
  font_wgt_400: $font-wgt-400;
  font_wgt_500: $font-wgt-500;
  font_wgt_600: $font-wgt-600;
}
